[Desktop Entry]
Name=Mnemosyne
Comment=A flash card program to make your review process more efficient
Exec=mnemosyne %f
Icon=mnemosyne
Categories=Education
Terminal=false
Type=Application
