include README setup.py ChangeLog mnemosyne.desktop mnemosyne/libmnemosyne/LICENSE makefile
include openSM2sync/LICENSE
include mnemosyne/example_plugins/*.py mnemosyne/example_plugins/README
include mnemosyne/example_scripts/*.py mnemosyne/example_scripts/README
include mnemosyne/pyqt_ui/pixmaps/* pixmaps/*
recursive-include mo *
recursive-include mnemosyne/libmnemosyne/docs/ *